html,
body {
  background: #eff3f4;
  font-family: "Open Sans", serif;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .title {
  color: hsl(192, 17%, 99%);
}

.hero-body .subtitle {
  color: hsl(192, 17%, 99%);
  line-height: 1.5;
  padding-top: 2rem;
}

.features {
  padding: 5rem 0;
}

.card-image > .fa {
  color: #209cee;
  font-size: 8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem;
}

.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.is-shady {
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.products {
  flex-wrap: wrap;
}

.product {
  width: calc(33.33% - 20px);
}

.product-content {
  padding: 10px;
}
