# -----------------------------------------------------------------------------
# Path variables
# -----------------------------------------------------------------------------
SRC_DIR="./src"
DEST_DIR="./web"

# -----------------------------------------------------------------------------
# BrowserSync options
# -----------------------------------------------------------------------------
BS_BASE_DIR="./"
BS_START_PATH="/web"

# -----------------------------------------------------------------------------
# Build tasks
# -----------------------------------------------------------------------------
BUILD_TASKS="html, sass, js, imagemin, copy"

# -----------------------------------------------------------------------------
# Clean targets
# -----------------------------------------------------------------------------
CLEAN_TARGETS="${DEST_DIR}/*"

# -----------------------------------------------------------------------------
# Copy targets
# -----------------------------------------------------------------------------
COPY_TARGETS_FROM="${SRC_DIR}/fonts/**, ${SRC_DIR}/vendors/**"
COPY_TARGETS_TO="${DEST_DIR}/fonts, ${DEST_DIR}/vendors"

# -----------------------------------------------------------------------------
# Eslint targets
# -----------------------------------------------------------------------------
ESLINT_TARGETS="${SRC_DIR}/js/**/*.js"

# -----------------------------------------------------------------------------
# HTML targets
# -----------------------------------------------------------------------------
HTML_SRC_DIR="${SRC_DIR}/html"
HTML_SRC_GLOB=""
HTML_FILE_EXTENSIONS="html"
HTML_DEST_DIR="${DEST_DIR}"

# -----------------------------------------------------------------------------
# IMAGEMIN targets
# -----------------------------------------------------------------------------
IMAGEMIN_SRC_DIR="${SRC_DIR}/images"
IMAGEMIN_SRC_GLOB="**"
IMAGEMIN_FILE_EXTENSIONS="{gif,jpg,png,svg}"
IMAGEMIN_DEST_DIR="${DEST_DIR}/images"

# -----------------------------------------------------------------------------
# JS targets
# -----------------------------------------------------------------------------
JS_SRC_DIR="${SRC_DIR}/js"
JS_SRC_GLOB=""
JS_FILE_EXTENSIONS="js"
JS_DEST_DIR="${DEST_DIR}/js"

# -----------------------------------------------------------------------------
# SASS targets
# -----------------------------------------------------------------------------
SASS_SRC_DIR="${SRC_DIR}/sass"
SASS_SRC_GLOB="**"
SASS_FILE_EXTENSIONS="scss"
SASS_DEST_DIR="${DEST_DIR}/css"

# -----------------------------------------------------------------------------
# Serve targets
# -----------------------------------------------------------------------------
SERVE_TASKS="build, watch, sync"

# -----------------------------------------------------------------------------
# Stylelint targets
# -----------------------------------------------------------------------------
STYLELINT_TARGETS="${SRC_DIR}/sass/**/*.scss"
